[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]

python_version = "2.7"

[packages]

coverage-space = { path = ".", editable = true }

[dev-packages]

# Linters
pylint = "*"
pycodestyle = "*"
pydocstyle = "*"

# Testing
pytest = "~= 3.3"
pytest-describe = "*"
pytest-expecter = "~=1.1"
pytest-random = "*"
pytest-cov = "*"
mock = "*"
scripttest = "*"

# Documentation
mkdocs = "*"
docutils = "*"
pygments = "*"

# Build
wheel = "*"
pyinstaller = "*"

# Release
twine = "*"

# Tooling
sniffer = "*"
pync = { version = "*", sys_platform = "== 'darwin'" }
MacFSEvents = { version = "*", sys_platform = "== 'darwin'" }
